<app-navbar></app-navbar>

<div class="content container">

  <app-nav-user></app-nav-user>

  <router-outlet></router-outlet>

  <!-- <H1>Search for a Bill</H1>
  <div class="form-group row">
      <form  [formGroup]="billForm">
        <label class="col-6 col-md-6 col-lg-8 mt-2" for="bill">Type the ID of the Bill</label>
        <input formControlName="id" class="form-control col-6 col-md-12 mt-2" type="number" name="Bill-id" id="bill">

        <button class="btn btn-info mt-2" (click)="getBill()">Rechercher</button>
      </form>

      <pre>{{ bill | json }}</pre>
  </div>

  <ng-container *ngIf="bill">

    <h1>Search results of Bill number {{ billForm.value.id }}</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ bill.id }} : {{ bill.billingDate  | date: 'yyyy/mm/dd' }}</h5>
        <p class="card-text">Products:</p>
        <ng-container *ngFor="let product of bill.productItems ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ product.productID }} : {{product.productName}}</h5>
              <p class="card-text">
                Quantities: {{ product.quantity }}
                Price: {{ product.price }}
              </p>
            </div>
          </div>
        </ng-container>
        
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/images/profile.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{bill.customer.name}}</h5>
        <p class="card-text">{{bill.customer.email}}</p>
      </div>
    </div>

  </ng-container> -->

</div>